
img {
    width: 115px;
    height: 115px;
    background-color: #d6d3d3;
}

.back_side {
    width: 115px;
    height: 115px;
    background-color: #0083FC;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    display: grid;
    align-content: center;
}

.disabled_card {
    width: 115px;
    height: 115px;
    background-color: #d6d3d3;
    overflow: hidden;
    text-indent: 100%;
}

